@import "../../globals.scss";
.proficiences {
  height: 70vh;

  background-color: rgb(251, 251, 251);
  position: relative;
  box-shadow: inset 0px 7px 4px 2px rgba(77, 77, 77, 0.043);
  overflow: hidden;
  @include mobile {
    height: 78vh;
  }

  .arrow {
    width: 80px;
    height: 80px;
    // border-radius: 40px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    z-index: 99;

    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    font-size: 30px;
    bottom: 20px;
    // box-shadow: rgba(149, 157, 165, 0.043) 0px 8px 24px;
    z-index: 900;
    cursor: pointer;

    &.arrow-left {
      left: 30px;
    }
    &.arrow-right {
      right: 30px;
      transform: rotateY(180deg);
    }

    @include mobile {
      &.arrow-left {
        bottom: 20px;
      }
      &.arrow-right {
        bottom: 20px;
      }
    }
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .slider {
    height: 100%;
    transition: all 1s ease-in-out;
    overflow-y: visible;
    display: flex;
    position: absolute;
    left: 0px;
    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    @include mobile {
      height: 80%;
    }
  }
}
