@import '../../globals.scss';
.about{
    height: auto;

    background-color: $backgroundColor;
    overflow: visible;

    

    .about-wrapper{
        padding: 60px 90px 10px 90px;
        @include mobile{
            padding: 20px;
        }

        // .dropdown{
        //     background-color: rgba(237, 237, 237, 0.612);
        //     margin-top: 30px;
        //     margin-bottom: 30px;
        //     padding: 20px 20px 20px 20px;
        //     height: 40px;
        //     overflow: hidden;
        //     transition: all 1s;

        //     &.active{
        //         height: auto;
        //     }
        // }

        .top-wrapper{
            display: flex;
            @include mobile {
                flex-direction: column;
            }

            .left{
                overflow: hidden;
                flex: 70%; 

                .information{
                    overflow: hidden;
                    font-size: 20px;
                    word-wrap:normal;
                    h2{
                        margin-top: 20px;
                        font-size: 25px;
                        color: $topBarColor;
                    }
                }
            }
            
            .right{
                flex: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    overflow: hidden;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    box-shadow: 0px 2px 4px 2px rgba(77, 77, 77, 0.091);
                    @include mobile {
                        width: 200px;
                        height: 200px;
                        margin: 20px 0px 20px -10px;
                    }
                }
                
            }
        }
        .bottom-wrapper{
            overflow: hidden;
            margin-bottom:20px;
            font-size: 20px;
            word-wrap:normal;
            margin-bottom:20px;
            h2{
                margin-top: 20px;
                font-size: 25px;
                color: $topBarColor;
            }
        }
    }
}