@import "../../globals.scss";
.contact {
  height: 70vh;
  background-image: linear-gradient(
      0deg,
      rgba(230, 232, 245, 0.413),
      rgba(255, 255, 255, 0.927)
    ),
    url("../../../build/assets/contact-mountain.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  overflow: hidden;

  padding: 90px 0 0 90px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  @include mobile {
    height: 90vh;
    flex-direction: column;
    padding: 0;
    padding-bottom: 10px;
  }

  .title-contact-container {
    overflow: visible;
    flex: 1;
    padding: 90px;

    h2 {
      font-size: 60px;
      padding-bottom: 20px;
    }
    p {
      font-size: 20px;
    }

    @include mobile {
      padding: 30px;
      h2 {
        font-size: 50px;
      }
    }
  }

  .form-contact-container {
    overflow: visible;
    flex: 1;
    form {
      overflow: visible;

      width: 70%;
      height: 70%;
      @include mobile {
        width: 90%;
        height: 90%;
      }

      display: flex;
      flex-direction: column;

      > * {
        padding: 10px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.584);
        backdrop-filter: blur(5px);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      input {
        border: none;
        font-size: 14px;
      }

      textarea {
        border: none;
        font-size: 14px;
      }

      button {
        background-color: rgb(255, 255, 255);

        border: none;

        font-weight: 900;
        text-align: center;

        cursor: pointer;
        overflow: hidden;
      }

      span {
        //Message
        color: darkgreen;
        overflow: hidden;
        padding: 10px;
      }
    }
    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        min-height: 200px;
        > * {
          margin: 3px;
        }
        button {
          min-height: 40px;
        }
      }
    }
  }
}
