@import '../../globals.scss';

.intro {
  // background-color: $backgroundColor;

  height: 80vh;
  position: relative;

  // .overlay{
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     background-color:rgba(255, 255, 255, 0.913);
  // }
  // position:relative;
  // display: flex;
  // border-bottom: lightgray 4px solid;

  // .left{
  //   flex: 0.45;
  //   overflow:hidden;

  //   .imgContainer{
  //     width: 800px;
  //     height: 800px;
  //     background-color: $lightColor;
  //     border-radius: 50%;
  //     display: flex;
  //     align-items: flex-start;
  //     justify-content: center;

  //     float: right;
  //     img{
  //       height: 90%;
  //     }
  //   }
  // }
  // .right{
  //   flex: 0.5;

  // img{
  //   position: absolute;
  //   top:0;
  //     /* Full height */
  //   height: 100%;

  //   /* Center and scale the image nicely */
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  .intro-wrapper{
    // position: fixed;
    // top: 3em;
    // overflow: hidden;
    
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h1{
      font-size: 60px;
      font-weight: 800;
    }
    h2{
      font-size: 40px;
    }
    h3{
      font-size: 25px;
      padding-top: 20px;

      span{
        font-style: inherit;
        color: #7EA1D4;
      }

      .ityped-cursor{
        animation: blink 1s infinite
      }
      @keyframes blink {
        50%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
        
      }
    }

  

    a{
      position: absolute;
      bottom: 10px;
      left: 45%;

      .icon{
        font-size: 50px;
        color: $topBarColor;
      }

      animation: arrowBlink 1s infinite alternate-reverse;
    }
    

    @keyframes arrowBlink {
        100%{
          bottom: 20px;
        }
    }
  }
  // }

}
