@import "./globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.App {
  &::before {
    content: "";
    background-image: linear-gradient(
        0deg,
        rgba(230, 232, 245, 0.947),
        rgba(255, 255, 255, 0.927)
      ),
      url("../build/assets/intro-mountain.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    min-height: -webkit-fill-available;

    filter: blur(0px);
    z-index: 0;
    overflow: hidden;

    pointer-events: none;
  }
  font-family: "Outfit", sans-serif;

  .sections {
    width: 100%;
    height: calc(100% - 5em);
    position: fixed;
    top: 5em;

    .section-wrapper {
      padding: 60px 90px 10px 90px;
      @include mobile {
        padding: 20px;
      }
    }
    .title {
      font-size: 50px;
      width: 350px;
      &.center {
        text-align: center;
        width: 100%;
      }
    }
    //Set snapping
    // scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    scrollbar-width: 0; //Firefox;
    &::-webkit-scrollbar {
      //Other browsers
      display: none;
    }
  }
}
