$backgroundColor: #f9fcfe;
$navigationColor: #fff;
$secondaryColor: #e2f0d9;
$topBarColor: #1f4e79;
$lightColor: #BFD5E7;


$width: 1100px;

@mixin mobile {
    @media(max-width:#{$width}){
        @content
    }
}
